body {
  margin: 0;
  background: #444;
  color: #fff;
  font-family: sans-serif;
}


h1, h2, h3, h4 {
  font-weight: lighter;
}

a {
  color: currentcolor;
  font-weight: bolder;
}

.card {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

  border-radius: 2px;
  background: #fff;
  color: #111;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}

.debug {
  margin-top: .5em;
  margin-bottom: .5em;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 3em;

  background: rgba(255, 0, 255, 0.1);
  background-clip: content-box;
  box-shadow: inset 0 0 0 1px rgb(255, 0, 255);
}