body {
  margin: 0;
  background: #444;
  color: #fff;
  font-family: sans-serif;
}


h1, h2, h3, h4 {
  font-weight: lighter;
}

a {
  color: currentcolor;
  font-weight: bolder;
}

.👻 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

  border-radius: 2px;
  background: #fff;
  color: #111;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}

.🦄 {
  margin-top: .5em;
  margin-bottom: .5em;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 3em;

  background: rgba(255, 0, 255, 0.1);
  background-clip: content-box;
  box-shadow: inset 0 0 0 1px rgb(255, 0, 255);
}/********************************************
*  Defaults                                    *
********************************************/
/**
 * defaults are set inside the selector to prevent post-css
 * from trying to resolve these variables.
 */
.🍀 {
  --columns-pTaeh: 4;
  --margin-pTaef: 12;
  --padding-pTaeg: 16; }

/********************************************
*  LOGIC                                    *
********************************************/
/**
 * `.grid` and `.row follow the same flexbox logic
 */
.🍀,
.👾 {
  /**
   * Box model for columns
   * (1): create flexbox
   * (2): ensure direction row
   * (3): allow wrapping
   * (4): ensure full width
   */
  /* (1) */
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  /* (2) */
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  /* (3) */
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  /* (2, 3) */
  -ms-flex-flow: row wrap !important;
      flex-flow: row wrap !important;
  /* (4) */
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 100% !important;
          flex: 0 0 100% !important; }

/**
 * A row resets margin and padding.
 * It sets the columns to the current colspan
 */
.👾 {
  --columns-pTaeh: var(--colspan-DppcU4H8Oy);
  /**
   * Box model for columns
   * (1): ensure horizontal padding to be 0
   * (2): reset margins and paddings
   */
  /* (1) */
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* (2) */
  margin-left: calc((var(--padding-pTaeg) + var(--margin-pTaef)) * -1px) !important;
  margin-right: calc((var(--padding-pTaeg) + var(--margin-pTaef)) * -1px) !important; }

/**
 * A `.column` provides margin and padding.
 * It allows changing the size via inline styles
 * @example
 * style="--m: 4; --l: 6"
 */
.👻👻 {
  /**
   * colspan:
   * @default --vp-small-pTaec
   */
  --colspan-DppcU4H8Oy: var(--vp-small-pTaec);
  /**
   * each property defaults to the previous value
   * The first property defaults to 1
   */
  --vp-small-pTaec: 1;
  --vp-medium-pTaed: var(--vp-small-pTaec);
  --vp-large-pTaee: var(--vp-medium-pTaed);
  /**
   * Box model for columns
   * (1): ensure border-box
   * (2): set paddings
   * (3): set margins
   * (4): width based on properties
   */
  /* (1) */
  box-sizing: border-box !important;
  /* (2) */
  padding-left: calc(var(--padding-pTaeg) * 1px) !important;
  padding-right: calc(var(--padding-pTaeg) * 1px) !important;
  /* (3) */
  margin-right: calc(var(--margin-pTaef) * 1px) !important;
  margin-left: calc(var(--margin-pTaef) * 1px) !important;
  /* (4) */
  width: calc(100% / var(--columns-pTaeh) * var(--colspan-DppcU4H8Oy) - var(--margin-pTaef) * 2px) !important; }

/********************************************
*  RESPONSIVE                               *
********************************************/
/**
   * breakpoint for --vp-small-pTaec
   * (1) set column count on grid to --columns-pTaeh
   * (2) set colspan to --vp-small-pTaec
   */
@media (min-width: 320px) {
  .🍀 {
    /* (1) */
    --columns-pTaeh: 4; }
  .👻👻 {
    /* (2) */
    --colspan-DppcU4H8Oy: var(--vp-small-pTaec); } }

/**
   * breakpoint for --vp-medium-pTaed
   * (1) set column count on grid to --columns-pTaeh
   * (2) set colspan to --vp-medium-pTaed
   */
@media (min-width: 480px) {
  .🍀 {
    /* (1) */
    --columns-pTaeh: 8; }
  .👻👻 {
    /* (2) */
    --colspan-DppcU4H8Oy: var(--vp-medium-pTaed); } }

/**
   * breakpoint for --vp-large-pTaee
   * (1) set column count on grid to --columns-pTaeh
   * (2) set colspan to --vp-large-pTaee
   */
@media (min-width: 800px) {
  .🍀 {
    /* (1) */
    --columns-pTaeh: 12; }
  .👻👻 {
    /* (2) */
    --colspan-DppcU4H8Oy: var(--vp-large-pTaee); } }
