
/// get variable from imported json
/// @param {Keyword} key the key in the map
/// @example
/// $foo: get-var(foo);
@function get-var($key) {
  $vars: require('src/vars');
  @return map-get($vars, $key);
}

/// List of names. These names will be used as the inline CSS variables
/// @name names
/// @type List
$names: get-var(names);

/// custom prop for column margin
/// @name margin
/// @type Keyword
$margin: get-var(margin);

/// custom prop for column padding
/// @name padding
/// @type Keyword
$padding: get-var(padding);

/// custom prop for column count
/// @name columns
/// @type Keyword
$column-count: get-var(column-count);

/// selector for grids
/// @name grid-selector
/// @type String
$grid-selector: get-var(grid-selector);

/// selector for rows
/// @name row-selector
/// @type String
$row-selector: get-var(row-selector);

/// selector for columns
/// @name column-selector
/// @type String
$column-selector: get-var(column-selector);

@import '../node_modules/minus-grid/src/index';
